<h3>Hardware</h3>

<p class="definicao border-start border-5 p-4">É a parte física de um computador, formada por peças e circuitos eletrônicos que ficam dentro do Gabinete. Existem diversos tipos de HARDWARE, segue abaixo, alguns dos <strong>HARDWARES INTERNOS </strong> do computador:
</p>

<p>
    <ul>
      <h6>
        <li>Processador</li>
        <li>Placa mãe</li>
        <li>Memória</li>
        <li>Hard Disc (Disco Rígido) HD</li>
        <li>Placa de rede</li>
        <li>Placa de vídeo e áudio</li>
      </h6>
    </ul>
</p>

<h3>Processador</h3>
<p>
  <h6> É componente conectado à placa mãe. Uma de suas funções mais importante é realizar a interpretação e a execução das instruções (dados) enviadas pelos programas para gerenciar os demais componentes.</h6>

       <div class="col-md-4 mt-4">
        <img class="img-fluid"  src="view/asset/imagens/proce2.jpg" alt="Processador">
       </div>
</p>


<h3>Cooler</h3>

<p>
  <h6>Funciona como um refrigerador, e serve para evitar a queima ou possíveis danos ao processador. Pois o processador executa muitas ações ao mesmo tempo e pode superaquecer. 
Quase todos os computadores contam com pelo menos dois coolers. Um que serve para resfriar o processador e outro que serve para remover o calor da fonte de alimentação. Existem vários tipos de COOLERS.</h6>
  

       <div class="col-md-4  mt-4">

          <img class="img-fluid" src="view/asset/imagens/cooler.jpg" alt="Cooler">
           
       </div>

</p>



<h3>Placa Mãe</h3>

<p>
  <h6>É uma placa de circuito eletrônico responsável pela comunicação de todos os componentes dentro do computador.</h6>
  
       <div class="col-md-4 mt-4">

          <img class="img-fluid" src="view/asset/imagens/placamae.jpg" alt="Placa mãe">
        </div>
  
</p>



<h3>Placa de Rede</h3>

<p>
  <h6> É uma placa que se conecta através da rede com os demais computadores de uma determinada rede.
A Placa de Rede constitui a interface entre o computador e o cabo da rede. 
A função de uma placa de rede é preparar, enviar e controlar os dados para rede.
 

<p>
    O cabo de rede é usado para conectar a placa de rede à equipamentos específicos. Serve para conectar o computador à internet e/ou também à um servidor.

</p></h6>

       <div class="col-md-4">
          <img class="img-fluid" src="view/asset/imagens/placarede.jpg" alt="Placa de rede">
      </div>
          
</p>


 <h3>Placa de Video</h3>

<p>
  <h6>
     Placa de vídeo é um hardware do computador responsável por administrar e controlar as funções de exibição de vídeo na tela (monitor).
  </h6>
 
  </p>


    <div class="col-md-4">
          <img class="img-fluid" src="view/asset/imagens/placavideo.jpg" alt="Placa de Video">
    </div>


 <h3>Placa de Som</h3>
 <p>
    <h6>
      Placa de áudio é um dispositivo de hardware que envia e recebe sinais sonoros entre equipamentos de som e um computador.
    </h6>
  </p>
    <div class="col-md-4">
          <img class="img-fluid" src="view/asset/imagens/placasom.jpg" alt="Placa de Som">
   </div> 




<br>
 <h3>Dispositivos ou Periféricos</h3>


<ul>
    <li><strong>Entrada</strong></li>
    <p>
      <h6>
           teclado, mouse, drive de CD/DVD, pen drive, scanner, microfone, joystick, câmera filmadora, câmera digital, tela sensível ao toque, mesa gráfica e caneta ótica.
      </h6>  
   
    </p>
</ul>
<ul>
    <li><strong>Saída</strong></li>
    <p>
      <h6>
        monitor, drive de CD-ROM, caixa de som, impressora, sensores (movimento, temperatura etc) e óculos (para realidade virtual).
      </h6>
       
    </p>
</ul>
<ul>
    <li> <strong>Entrada e Saída</strong> </li>
    <p>
      <h6>
        Modem, drive de disquete, gravador de CD / DVD e disco rígido.
      </h6>
    
    </p>
</ul>

