<h3 class="titulo">Software</h3>

<p class="definicao border-start border-5 p-4">
    O Software é um conjunto de instruções que podem ser feitas com qualquer linguagem de programação e
    inseridas na máquina, para que a máquina possa trabalhar e realizar/executar ações específicas.
    Os componentes lógicos de um computador, programas de rotina que controlam as funções da máquina são denominados de
    softwares.
    O hardware sem o software não tem funcionalidade.
</p>

<p>
<h5>Classificação do software</h5>
<ul>
    <h6>
        <li>Software de Sistema</li>
        <li>Software de Programação</li>
        <li>Software de Aplicação</li>
    </h6>

</ul>
</p>

<h3>Software de Sistema</h3>
<h6>Ajuda trabalhar com hardware de computador e inclui:</h6>

<p>
<div id="accordion" class="all">
    <h3><a href="#">
            <ul>
                <li>Sistema Operativo</li>
            </ul>
        </a></h3>
    <div>

        <p>
        <h6>
            É o programa que controla o computador, sem o sistema operativo o PC é inutil.
            É o programa que permite ao utilizador interagir com o PC.
        </h6>
        </p>
    </div>


    <h3><a href="#">
            <ul>
                <li>Controladores de Dispositivos</li>
            </ul>
        </a></h3>
    <div>
        <p>
        <h6>
            Um contralador de dispositivo(driver) é um programa de computador que permite programa de nivel
            superior(como sistema operativo ou aplicativos) se comunique com um dispositivo de hardware.

            O controlador de dispositivo depende do hardware e é especifico para cada sistema operativo.
        </h6>
        </p>


    </div>

    <h3><a href="#">
            <ul>
                <li>Utilitários</li>
            </ul>
        </a></h3>
    <div>
        <p>
            <h6>
            São programas do computador criada para gerir ou melhorar o desepnho do hardware.
        </h6> 
        </p>
       
        <br>

    </div>

</div>
</p>


<!------>

<h3>Software de Programação</h3>

<p>
<h6>Fornecem ferramentas que auxiliam programadores a escreverem programas de computadores inclui:</h6>

</p>

<div id="accordion2" class="all">
    <h3><a href="#">
            <ul>
                <li>Compiladores</li>
            </ul>
        </a></h3>
    <div>
        <h6>
            São programas de PC que transformam o codígo fonte( programas escritas numa linguagem de programção) em
            codígo objecto, que geralmente tem a forma binario.
        </h6>
    </div>


    <h3><a href="#">
            <ul>
                <li>Depuradores</li>
            </ul>

        </a></h3>
    <div>
        <h6>
            São programas de computadores que testam, procuram e fazem sugestão para reduzir os erros de outros programa
            de PC.
        </h6>
    </div>


    <h3><a href="#">
            <ul>
                <li>Editores de Texto para linguagens de programação</li>
            </ul>
        </a></h3>
    <div>
        <h6>São ficheiros ou programas usado para editar e digitar textos ou codígo de um programa.</h6>


        <ul>
            <h6>
                <li class="fw-normal">NotPad++</li>
                <li class="fw-normal">Sublime Text</li>
                <li class="fw-normal">Bloco de Nota</li>

        </h6> 
    </ul>

    </div>
    <br>

</div>

<div>
    <h3>Software de Aplicação</h3>

    <p>
    <p>
        Permite que o utilizador realiza tarefas mais especifica(não relacionada com desenvolvimento informática)
        inclui:
    </p>
    <h6>
        <ul>
            <li>Softwares corporativos</li>
            <li>Jogos de PC</li>
            <li>Softwares Educacionas</li>
            <li>Softwares Medicionas</li>
            <li>Softwares de entretenimentos</li>
        </ul>
    </h6>

    </p>

</div>
<script>
    $(function () {
        $("#accordion").accordion({
            collapsible: true
        });

        $("#accordion2").accordion({
            collapsible: true
        });
    });
</script>